body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.container {
    max-width: 1200px;
    margin: auto;
    overflow: hidden;
}

.menu {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    background-color: #333;
    color: white;
    padding: 10px 0;
}

.menu li a {
    text-decoration: none;
    color: white;
}

/* Стили для секций */
section {
    padding: 20px;
    box-sizing: border-box;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}
